#pragma once

// Copy this file to bvg_secrets.h (gitignored) and fill in your stop.
// Stop IDs: https://v6.bvg.transport.rest/locations?query=<name>&poi=false&addresses=false
#define BVG_STOP_ID      "900000000000" // the stop you leave from
#define BVG_DIRECTION_ID "900000000000" // the NEXT stop in your direction of travel
#define BVG_PRODUCTS     "subway=true&bus=false&tram=false&suburban=false&regional=false&express=false&ferry=false"
#define BVG_WALK_MIN_MINUTES     6  // trains sooner than this can't be caught: hidden
#define BVG_WALK_COMFORT_MINUTES 11 // "GO NOW" at this many minutes left, "HURRY" below, "LEAVE IN N" above
